a{
color:#F57070;
text-decoration:none;
}
.karti{
position:relative;
left:250px;
margin-left:auto;
margin-right:auto;
}
html {
background-image: url(obs.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
 #navbar {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 125px;
      }
      #navbar li {
        border-bottom: 1px solid #666;
      }
      #navbar a {
        background-color: #593c84;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        border-left: 0px solid #33ADFF;
        display: block;}
#boy{
color:white;
text-align:center;
width:500px;
position:relative;
left:250px;
top:-125px;
align:center;
}
.legend{

position:relative;
left:795px;
bottom:450px;
margin-left:auto;
margin-right:auto;
}
.rndm{

position:relative;
left:-205px;
bottom:425px;
margin-left:auto;
margin-right:auto;
}
.MM{

position:relative;
left:-360px;
bottom:250px;
margin-left:auto;
margin-right:auto;
}
.negr{
position:relative;
left:275px;
bottom:25px;
margin-left:auto;
margin-right:auto;
}
#bbb{
color:white;
text-align:center;
width:500px;
position:relative;
left:250px;
top:-125px;
align:center;
}
.FFF{
position:relative;
left:-815px;
bottom:350px;
margin-left:auto;
margin-right:auto;
}
#biskut{
color:white;
text-align:center;
width:150px;
position:relative;
left:25px;
top:-365px;
align:center;
}
.fed{
color:white;
text-align:center;
width:150px;
position:relative;
left:260px;
top:-50px;
align:center;
}
.Feduk{
color:white;
text-align:center;
width:150px;
position:relative;
left:250px;
top:-50px;
align:center;
}
#norm{
color:white;
text-align:center;
width:500px;
position:relative;
left:250px;
top:-125px;
align:center;
}
#alb{
background-image: linear-gradient(to 

right,#b0b0b1, #a560b5);
text-align:center;
width:400px;
position:relative;
left:275px;
top:-65px;
align:center;
}
